#root footer {
    // flex-direction: column;
    // align-self: flex-end;
    width: 900px;
    height: 28px;
    padding: 38px 0;

    &>ul {
        height: 28px;
        display: flex;
        justify-content: space-between;
    }

    &>ul:nth-last-child(2) {
        width: 100px
    }

    li {
        font-size: 13px;
        list-style: none;
    }

    p {
        color: #999;
        font-weight: 600;
        font-size: 12px;
    }


}