.profile-icon {
    background-position: -156px -158px
}

.like-icon {
    background-position: -78px -158px;
}

.liked-icon{
    background-position: -52px -158px;
}

.upload-icon {
    background-position: -163px -71px;
}

.explore-icon {
    background-position: -156px -210px
}

.github-icon {
    background-repeat: round;
    background-image: image_url("social-1_logo-github.svg");
}

.linkedin-icon {
    background-repeat: round;
    background-image: image_url("social-1_logo-linkedin.svg");
}