.profile-icon {
    background-position: -156px -158px
}

.like-icon {
    background-position: -78px -158px;
}

.liked-icon{
    background-position: -52px -158px;
}

.upload-icon {
    background-position: -163px -71px;
}