.navbar-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0px;
    z-index: 9;

    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    width: 100%;
    background-color: white;


}



.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    width: 100%;
    transition: height .2s ease-in-out;
    box-sizing: border-box;

    &.navbar-slim {
        padding: 0 20px;
        height: 52px;
    }

    &.navbar-thick {
        padding: 26px 20px;
        height: 77px;

    }

    .fade-container {
        transition: opacity .1s ease-in-out;


    }



    .nav-links-container {
        display: flex;

        &>div,&>a {
            margin-left: 30px;
        }
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;


        .logo {
            background-position: -84px -100px;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;

        }

        .pipe {
            background-color: #262626;
            height: 28px;
            margin: 0 16px;
            width: 1px;

        }

        .callig-container {
            margin-top: 7px;

            .callig {
                background-position: -136px 0;
                background-repeat: no-repeat;
                height: 29px;
                width: 103px;
            }
        }
    }

    

    div {
        display: flex;
        align-items: center;
    }
}


