.post-index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 16px;
}



.index-row{
    display: flex;
    margin-bottom: 28px;
    align-items: center

}

.post-index-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    

    margin-right: 28px;
    height: 293px;
    width: 293px;
    overflow: hidden;

    .post-hover {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .post-hover:hover {
        background:rgba(0, 0, 0, 0.3);
    }
}

.post-index-item:nth-last-of-type(1){
    margin: 0;
}

// .post:nth-last-of-type(1){
//     margin-right: 0px;

// }