.post-index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    // height: 321px;
    flex-grow: 1;
}

.post-index:nth-of-type(1){
    margin-top: 16px;
//    .index-row:nth-of-type(3){
//    }
}



.index-row{
    display: flex;
    margin-bottom: 28px;
    align-items: center

}

.post-index-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    

    margin-right: 28px;
    height: 293px;
    width: 293px;
    overflow: hidden;



    .post-hover {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .comment-count {
            display: flex;
            background-repeat: no-repeat;
            background-position: -246px -399px;
            height: 19px;
            width: 19px;
        }
        .like-count {
            display: flex;
            background-repeat: no-repeat;
            background-position: -225px -399px;
            height: 19px;
            width: 19px;
        }

        &>div {
            display: flex;
            visibility: hidden;
            margin-right: 30px;

            &>span{
                margin-right: 7px;

                &:nth-last-of-type(1){
                    margin: 0;
                }
            }
            
            &:nth-last-of-type(1){
                margin-right: 0;
            }
        }
    }

    .post-hover:hover {
        background:rgba(0, 0, 0, 0.3);

        &>div {
            visibility: visible
        }
    }
}

.post-index-item:nth-last-of-type(1){
    margin: 0;
}

// .post:nth-last-of-type(1){
//     margin-right: 0px;

// }