.post-index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 16px;



    
}

.post-detail {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: white;
    min-width: 815px;

    .post-comments {
        width: 335px;

    }

    .image-container {
        background: black;
        display: flex;
    }
}




.index-row{
    display: flex;
    margin-bottom: 28px;

}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    

    margin-right: 28px;
    height: 293px;
    width: 293px;
    overflow: hidden;

    .post-hover {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .post-hover:hover {
        background:rgba(0, 0, 0, 0.3);
    }

}

.post:nth-last-of-type(1){
    margin-right: 0px;

}