.profile{
    display: flex;
    flex-direction: column;


    box-sizing: content-box;
    // padding: 60px 20px 0;
    width: calc(100% - 40px);

    header{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 44px;

        .profile-image {
            width: 150px;
            height: 150px;
        }

        &>div{
            display: flex;
            flex-grow: 1;
            margin-right: 30px;

        }

        &>section>div:nth-of-type(1){
            display: flex;

            &>*{
                margin-right: 20px;
            }
        }

        &>div>div{
            background-color: #fafafa;
            border-radius: 50%;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            margin-right: auto;
            margin-left: auto;
        }
        
    }

    section{
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        color: #262626;

        .user-stats>p{
            margin-right: 40px;
        }
        
        div{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        div:nth-last-of-type(1){
            margin:0;
        }

    }
    &>div{
        display: flex;
    }


    .settings-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        min-width: 40px;
    }
    .settings-icon{
        background-repeat: no-repeat;
        background-position: -241px -130px;
        height: 24px;
        width: 24px;
    }

    .follow-btn-header, 
    .following-btn-header {
        padding: 0 24px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;

        border-style: solid;
        border-width: 1px;
    }

    .follow-btn-header{
        border-color: #3897f0;
    }

    .following-btn-header {
        background: 0 0;
        border-color: #dbdbdb;
        color: #262626;

    }
}