section.splash-section {
    display: flex;
    align-items: center;
    height: 100%;
}

.splash-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 30px;
    // height: 100%;
}

.splash-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 50%;

    .splash-right {
        min-height: 450px;
        display: flex;
        flex-direction: column;


        .login-container {


            & p {
                color: #AFAFAF;
                font-size: 17px;
                line-height: 20px;

                width: 250px;
                padding: 0;
                margin-bottom: 12px;
                text-align: center;

                .bold {
                    font-weight: 600;
                }

                &.terms {
                    font-size: 14px;
                }
            }

            &>img {
                margin: 20px 0 12px 0;
                width: 200px;

            }
        }

        .signup-container {
            margin-top: 13px;
            color: #AFAFAF;

            a {
                font-size: 14px;

            }
        }

        .box {
            background-color: white;

            border: 1px solid #e6e6e6;
            border-radius: 1px;

            width: 350px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        p {
            padding: 15px;

        }
    }


    // Cycling phone transition
    .image-container {
        width: 425px;
        height: 600px;
        background-image: image-url("phone.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .image-cycler {
            position: absolute;
            left: 0;
            width: 425px;
            height: 600px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            animation-name: phoneImageFade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 40s;
            // animation-direction: alternate;


        }

        .image-cycler:nth-of-type(1) {
            animation-delay: 30s;
            background-image: image-url("splash-stock4.png");

        }

        .image-cycler:nth-of-type(2) {
            animation-delay: 20s;
            background-image: image-url("splash-stock3.png");

        }

        .image-cycler:nth-of-type(3) {
            animation-delay: 10s;
            background-image: image-url("splash-stock2.png");

        }

        .image-cycler:nth-of-type(4) {
            animation-delay: 0;
            background-image: image-url("splash-stock1.png");

        }

    }
}





@keyframes phoneImageFade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// For "n" images You must define:
// a=presentation time for one image
// b=duration for cross fading
// Total animation-duration is of course t=(a+b)*n

// animation-delay = t/n or = a+b

// Percentage for keyframes:

// 1. 0%
// 2. a/t*100%
// 3. (a+b)/t*100% = 1/n*100%
// 4. 100%-(b/t*100%)
// 5. 100%

// for 4 images
// b = 2
// a = 8
// n = 4
// t= 40